@import url('https://fonts.googleapis.com/css?family=Krub:400,700');

$accent-color: color(secondary);

.progress-profile-card {
  position: relative;
  width: 100%;
  // margin: auto;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
  background: #151515;
  overflow: hidden;

  .progress-profile-ds-top {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: $accent-color;
    animation: dsTop 1.5s;
    z-index: 1;
  }

  .progress-profile-avatar-holder {
    position: absolute;
    z-index: 2;
    margin: auto;
    top: 30px;
    right: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #151515,
      inset 0 0 0 5px #000000,
      inset 0 0 0 5px #000000,
      inset 0 0 0 5px #000000,
      inset 0 0 0 5px #000000, ;
    background: white;
    overflow: hidden;
    animation: mvTop 1.5s;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .progress-profile-info {
    @include progress-flex(column, flex-start, center);
    position: absolute;
    top: 137px;
    width: 100%;
    // height: calc(100% - 137px);

    // * {
    //   border: 1px solid cyan;
    // }

    .progress-profile-name {
      animation: fadeIn 2s ease-in;
      color: white;
      text-decoration: none;
      font-weight: 700;
      font-size: 18px;
    }
  }

  .progress-profile-ds-info {
    @include progress-flex(row, space-evenly, center);
    width: 100%;
    animation: fadeInMove 2s;
    animation-fill-mode: forwards;

    .progress-profile-ds {
      @include progress-flex(column, center, center);
      flex: 1;

      h6 {
        margin: 0;
        // text-transform: uppercase;
        font-weight: bold;
        font-size: 15px;
        color: $accent-color;
      }

      p {
        margin: 0;
        font-size: 12px;
      }

      &:nth-of-type(2) {
        animation-delay: .5s;
      }

      &:nth-of-type(1) {
        animation-delay: 1s;
      }
    }
  }

  .progress-profile-ds-credits {
    width: 80%;

    h5 {
      margin: 0;
      color: $accent-color;
    }

    .progress-profile-type {
      width: 100%;

      .title {
        width: 100%;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 10px;
      }

      .progress-profile-bar {
        border: 3px solid $accent-color;
        border-radius: 20px;
      }

      .progress-bar-percentage {
        div {
          text-align: right;
          font-weight: bold;
          color: white;
          font-size: 10px;
          height: 25px;
        }
      }
    }
  }
}

@keyframes fadeInMove {
  0% {
    opacity: 0;
    left: -300px;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes htmlSkill {
  0% {
    width: 0;
  }

  100% {
    width: 95%;
  }
}

@keyframes cssSkill {
  0% {
    width: 0;
  }

  100% {
    width: 90%;
  }
}

@keyframes jsSkill {
  0% {
    width: 0;
  }

  100% {
    width: 75%;
  }
}

@keyframes mvBottom {
  0% {
    bottom: -150px;
  }

  100% {
    bottom: 10px;
  }
}

@keyframes mvTop {
  0% {
    top: -150px;
  }

  100% {
    top: 40px;
  }
}

@keyframes dsTop {
  0% {
    top: -150px;
  }

  100% {
    top: 0;
  }
}

.progress-profile-following {
  color: white;
  background: $accent-color;
}