@mixin neon-border($color) {
    color: $color;
    border: 5px solid $color;
    box-shadow:
        0 0 5px $color,
        inset 0 0 25px $color,
        0 0 7px $color,
        inset 0 0 7px $color,
        0 0 7px $color,
        inset 0 0 4px $color;
}

.graph-container {
    width: 90%;
    height: 100vh;
    border: 1px solid white;
    margin: auto;
}

.color-white {
    @include neon-border(white);
}

.color-green {
    @include neon-border(#2add2a);
}

.color-blue {
    @include neon-border(#2479ce);
}

.color-orange {
    @include neon-border(#ff7700);
}

.color-yellow {
    @include neon-border(#eaff00);
}

.course-node {
    @include progress-flex(column, center, center);
    background-color: transparent;
    padding: 20px;
    position: relative;
    width: 300px;
    height: 400px;

    * {
        margin: 20px 0;
    }

    .course-title {
        font-weight: bold;
        font-size: 30px;
    }

    .course-code {
        color: #333;
        font-size: 25px;
    }

    .course-expertise {
        color: white;
        font-size: 20px;
    }

    .course-credits {

        // @include progress-flex(column, flex-start, center);

        span {
            color: white;
            font-weight: bold;
            font-size: 70px;
        }

        label {
            text-transform: uppercase;
            letter-spacing: 6px;
            font-size: 15px;
            height: 30px;
            color: gray;
        }
    }

    .course-identifier {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0;
        width: 40px;
        aspect-ratio: 1 / 1;
        font-size: 20px;
        color: white;
        margin: 0;
    }

}

.background-available {
    background-color: rgba($color: #00ff15, $alpha: .1);
}
.background-important {
    background-color: rgba($color: #1647b8, $alpha: .1);
}
.background-critical {
    background-color: rgba($color: #ff8400, $alpha: .1);
}